# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Editor directories and files
.idea/
.vscode/

# macOS
.DS_Store

# Local environment files
.env
.mp4
